h1.title{
    text-align: center;
    align-items: center;
    height: 200px;
    font-size: 30px;
    background: linear-gradient(purple, black);
}
div.title{
    display: inline-block;
    position: relative;
    top: 20px;
    width: 60%;
    height: 40px;
    background: purple;
    color: white;
}
.box{
    display: inline-block;
    right: 10px;
    top: 10px;
    padding: 4px;
    z-index: 0;
}
.titleFlex{
    width: 35%;
    height: 80%;
    display: inline-flex;
    text-align: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.rowFlex{
    padding-inline: 60px;
    color: white;
    width: 50%;
    height: 300px;
    display: inline-flex;
    grid-row: inherit;
    align-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.image{
    display: inline-block;
    width: 200px;
    height: 300px;
    background-image: url('Images/zote wapo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.sideflex{
    position: fixed;
    right: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: right;
    overflow-y: auto;
}